<div class="notes-list">
    <% @license.notes.each do |note| %>
	<div id="note-<%= note.id %>" class="note">
			<div id="note-<%= note.id %>-summary" class="note-summary">
			<div id="note-<%= note.id %>-body" class="note-body" style="display:none;">
			</div>
	</div>
    <%- end %>

</div>
