#admin-menu a.assets { background-image: url(../images/bricks.png); }

.icon-asset-add { background-image: url(../images/brick_add.png); }
.icon-asset-delete { background-image: url(../images/brick_delete.png); }
.icon-asset-edit { background-image: url(../images/brick_edit.png); }

.icon-license-add { background-image: url(../images/rosette_blue_add.png); }
.icon-license-delete { background-image: url(../images/rosette_blue_delete.png); }
.icon-license-edit { background-image: url(../images/rosette_blue_edit.png); }

.icon-pool-add { background-image: url(../images/pool_add.png); }
.icon-pool-delete { background-image: url(../images/pool_delete.png); }
.icon-pool-edit { background-image: url(../images/pool_edit.png); }

div.ram-form {
	padding:5px 10px;
	vertical-align:top;
}

div.ram-form div {
	margin-bottom:5px;
}

div.ram-form div.inline {
	display:inline-block;
}

div.ram-form h4 {
	padding:0px;
	margin:0px;
	margin-bottom:5px;
	font-size:115%;
	font-weight:bold;
}

div.ram-form label {
	margin:0px;
	display:block;
	padding:0px 0px 5px 0px;
	font-weight:bold;
	font-size:110%;
}
div.ram-form input, div.ram-form select {
	margin-bottom:7px;
}